
@{
    ViewBag.Title = "CopyNumberLiquidationStats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>

<body>
    <h5 style="margin-top:20px;">Báo cáo đăng ký cá biệt bị hủy</h5>
    <table class="table">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">Đăng ký cá biệt</td>
                <td><textarea id="DKCBID" name="DKCBID"></textarea></td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group d-xl-flex justify-content-xl-center" role="group">
        <button id="stat" type="submit" style="margin-right:20px;">Xem thử</button>
        <button id="reset" type="button" style="margin-right:20px;" onclick="reset()">Đặt lại</button>
    </div>
    <div id="ContentStatLiquidation"></div>
</body>
<script>
    document.getElementById("stat").onclick = function () {
        var empObj = {
            strDKCBID: document.getElementById("DKCBID").value,
        };
        $.ajax({
            url: "GetCopyNumberLiquidationStats",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            type: "POST",
            beforeSend: function () {
                $("#ContentStatLiquidation").html("<h4>Loading...</h4>");
            },
            success: function (result) {
                $("#ContentStatLiquidation").html(result)
            },
            error: function (errormessage) {
                console.log("error");
            }
        });
    };
    $(window).bind("pageshow", function () {
        $("#Library").val('');
        $("#Location").val('');
    });
    function reset() {
        $("#DKCBID").val('');
    }
</script>





