@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <style>
        body {
            overflow-x: hidden;
            box-sizing: border-box;
        }

        #sidebar-wrapper {
            min-height: 100vh;
            margin-left: -15px !important;
            -webkit-transition: margin .25s ease-out;
            -moz-transition: margin .25s ease-out;
            -o-transition: margin .25s ease-out;
            transition: margin .25s ease-out;
        }

            #sidebar-wrapper .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
            }

            #sidebar-wrapper .list-group {
                width: 20rem;
                padding-left: 5px;
            }

        @@media (min-width: 768px) {
            #sidebar-wrapper {
                margin-left: 0;
            }

            #page-content-wrapper {
                min-width: 0;
                width: 100%;
            }

            #wrapper.toggled #sidebar-wrapper {
                margin-left: -15rem;
            }
        }
    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <h4 style="margin:1rem;">Ghi mượn </h4>
            <div class="list-group list-group-flush">
                <div class="col">
                    <h5>Tùy chọn</h5>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Không tính vào hạn ngạch</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 5px;">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Hạn trả mở</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 5px;">
                        <div class="col-4">
                            <div class="form-group"><label class="col-form-label">Ngày mượn:</label></div>
                        </div>
                        <div class="col-8">
                            <div class="form-group"><input class="form-control" type="date" value="@string.Format("{0:yyyy-MM-dd}", System.DateTime.Now)" /></div>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 5px;">
                        <div class="col-4">
                            <div class="form-group"><label class="col-form-label">Hạn trả:</label></div>
                        </div>
                        <div class="col-8">
                            <div class="form-group"><input class="form-control" id="strFixDueDate" type="date" value="2029-06-11" /></div>
                        </div>
                    </div>
                    <div class="form-row" style="margin-top: 0px;">
                        <div class="col-3"><label class="col-form-label">Số thẻ:</label></div>
                        <div class="col"><input class="form-control" id="strPatronCode" type="text" onkeypress="checkoutCardInfo(event)" /></div>
                        <div class="col-4"><label class="col-form-label"><a onclick="findByCardNumber();" href="#">Tìm</a> | <a href="/Patron/Create">Thêm</a></label></div>
                    </div>
                    <div class="form-row" style="margin-top: 0px;margin-bottom: 5px;">
                        <div class="col-3"><label class="col-form-label">ĐKCB:</label></div>
                        <div class="col"><input class="form-control" id="strCopyNumber" type="text" onkeypress="checkoutSuccess(event)" /></div>
                        <div class="col-4"><label class="col-form-label"><a href="#">Tìm</a> | <a href="#">Thêm</a></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><button class="btn btn-primary" type="button" id="myButton">Ghi mượn</button></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col" id="contentcheckout">
        </div>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        $.ajax({
            url: "CheckOut/CheckOutCardInfo",
            type: "Get",
            success: function (Response) {
                $("#contentcheckout").html(Response)
            }
        });
    };

    function checkoutSuccess(e) {
        var empObj = {
            strFullName: '',
            strPatronCode: document.getElementById("strPatronCode").value,
            strFixDueDate: document.getElementById("strFixDueDate").value,
            intLoanMode: 1,
            intHoldIgnore: 0,
            strCopyNumbers: document.getElementById("strCopyNumber").value,
            strCheckOutDate: '06/21/2019'
        };
        if (e.keyCode == 13) {
            $.ajax({
                url: "CheckOut/CheckOutSuccess",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                type: "POST",
                success: function (result) {
                    $("#contentcheckout").html(result)
                },
                error: function (errormessage) {
                    console.log("error");
                }
            });
        }
    }

    function checkoutCardInfo(e) {
        var empObj = {
            strFullName: '',
            strPatronCode: document.getElementById("strPatronCode").value,
            strFixDueDate: document.getElementById("strFixDueDate").value
        };
        if (e.keyCode == 13) {
            $.ajax({
                contentType: "application/json;charset=utf-8",
                type: "POST",
                beforeSend: function (request) {
                    $.blockUI({
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });
                },
                complete: function (request, json) {

                },
                url: "/CheckOut/CheckOutCardInfo",
                data: JSON.stringify(empObj),
                success: function (result) {
                    $("#contentcheckout").html(result);
                    $.unblockUI()
                },
                error: function (errormessage) {
                    $.unblockUI()
                }
            });
        }
    }

    function rollbackacheckout() {
        var empObj = {
            strCopyNumbers: 'TK/HCHL001415',
        };
        $.ajax({
            contentType: "application/json;charset=utf-8",
            type: "POST",
            url: "/CheckOut/Rollbackacheckout",
            data: JSON.stringify(empObj),
            success: function (result) {
                $("#contentcheckout").html(result);
            },
            error: function (errormessage) {
            }
        });
    }

</script>


