
Libol/.vs/config/applicationhost.config
Libol/.vs/config/applicationhost.config
Libol/.vs/Libol/v15/.suo
Libol/.vs/Libol/v15/Server/sqlite3/storage.ide-wal
Libol/.vs/Libol/v15/Server/sqlite3/storage.ide-shm
Libol/.vs/Libol/v15/Server/sqlite3/storage.ide
Libol/.vs/Libol/v15/.suo
*.ide
Libol/.vs/Libol/v15/.suo
Libol/.vs/Libol/v15/Server/sqlite3/storage.ide
Libol/.vs/Libol/v15/Server/sqlite3/storage.ide-shm
Libol/.vs/Libol/v15/Server/sqlite3/storage.ide-wal
