
@{
    ViewBag.Title = "Thêm bạn đọc theo lô";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="margin : 1rem">Thông báo</h4>
<form>
    <p>@ViewBag.Notify</p>
    <a href="/Patron/PatronProfile" class="btn btn-primary" role="button">OK</a>
</form>

