
@{
    ViewBag.Title = "PatronProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Thông tin hồ sơ</th>
                <th>Danh mục</th>
                <th>Nhập xuất dữ liệu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.ActionLink("Quản lý hồ sơ", "Create","CIR_PATRON") </td>
                <td>Tra cứu</td>
                <td>Hàng đợi</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
