USE [Libol]
GO
/****** Object:  StoredProcedure [dbo].[FPT_GET_LIQUIDBOOKS]    Script Date: 07/10/2019 23:52:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AnNXT>
-- Create date: <29/06/2019>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_GET_LIQUIDBOOKS]
	@strLiquidCode VARCHAR(500),
	@intLibraryID int,
	@intLocationID int,
	@strDateFrom varchar(30),
	@strDateTo varchar(30),
	@intUserID int
AS

	DECLARE @strSQL VARCHAR(8000)
	DECLARE @strJoinSQL varchar(1000)
	DECLARE @strLikeSql varchar(1000)
	SET @strSQL = 'SELECT HRR.Reason,
	REPLACE(REPLACE(REPLACE(REPLACE(F.Content,''$a'',''''),''$b'','' ''),''$c'','' ''),''$n'','' '') as Content,
	HR.AcquiredSourceID,HR.CallNumber,HR.CopyNumber,
	HR.ID,HR.ItemID,HR.LibID,HR.LiquidCode,
	HR.LoanTypeID,HR.LocationID,HR.PoID,HR.Price,HR.Shelf,HR.UseCount,HR.Volume,
	HR.AcquiredDate,HR.RemovedDate,HR.DateLastUsed,
	Code AS LibName, Symbol AS LocName '
	
	SET @strLikeSql = '1 =1 AND '
	SET @strJoinSQL = ''
	
	SET @strJoinSQL = @strJoinSQL + ' FROM HOLDING_REMOVED HR LEFT JOIN FIELD200S F ON HR.ItemID = F.ItemID AND F.FieldCode=''245'' '
	SET @strJoinSQL = @strJoinSQL + ' LEFT JOIN HOLDING_REMOVE_REASON HRR ON HR.Reason=HRR.ID '
	SET @strJoinSQL = @strJoinSQL + ' LEFT JOIN HOLDING_LIBRARY HL ON HR.LibID = HL.ID '
	SET @strJoinSQL = @strJoinSQL + ' LEFT JOIN HOLDING_LOCATION HLC ON HR.LocationID = HLC.ID '
		
	IF NOT @strLiquidCode=''
		BEGIN
			SET @strLikeSql=@strLikeSql+' LiquidCode='''+@strLiquidCode+''' AND '
		END
	IF NOT @intLibraryID = 0
		BEGIN
			SET @strLikeSql = @strLikeSql + 'HR.LibID = ' + CAST(@intLibraryID AS VARCHAR(10)) +' AND '
			IF NOT @intLocationID = 0
				BEGIN
					SET @strLikeSql = @strLikeSql + 'HR.LocationID = ' + CAST(@intLocationID AS VARCHAR(10)) +' AND '
				END
			ELSE 
				BEGIN
					SET @strLikeSql = @strLikeSql + 'HR.LocationID IN (SELECT B.ID AS ID FROM HOLDING_LIBRARY A, HOLDING_LOCATION B, SYS_USER_CIR_LOCATION C WHERE A.LocalLib = 1 AND A.ID ='+ CAST(@intLibraryID AS CHAR(20)) +' AND A.ID = B.LibID AND B.ID = C.LocationID AND C.UserID =' + CAST(@intUserID AS CHAR(20)) + ' ) AND '
				END
		END
	IF NOT @strDateFrom=''
		BEGIN
			SET @strLikeSQL = @strLikeSQL + 'HR.RemovedDate >= ''' + @strDateFrom +''' AND '	
		END
	IF NOT @strDateTo=''
		BEGIN
			SET @strLikeSQL = @strLikeSQL + 'HR.RemovedDate <= ''' + @strDateTo +''' AND '	
		END
	
	
	SET @strSql = @strSql + @strJoinSQL + ' WHERE ' +@strLikeSQL
	SET @strSql = LEFT(@strSql,LEN(@strSql)-3) 
EXEC(@strSQL)
PRINT(@strSQL)

