USE [Libol]
GO
/****** Object:  StoredProcedure [dbo].[FPT_BORROWNUMBER]    Script Date: 07/12/2019 09:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_BORROWNUMBER] (@itemID int, @price real, @acqdate varchar(50))
	-- Add the parameters for the stored procedure here
	
AS
DECLARE @sql varchar(1000)
SET @sql = ''+CONVERT (varchar(10), @acqdate, 21)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT COUNT(COPYNUMBER) FROM HOLDING WHERE ITEMID = @itemID AND PRICE = @price AND AcquiredDate = @sql
END
