USE [Libol]
GO
/****** Object:  StoredProcedure [dbo].[FPT_ACQ_YEAR_STATISTIC]    Script Date: 07/10/2019 23:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_ACQ_YEAR_STATISTIC] 
	@intLibraryID int,
	@intLocationID int,
	@strFromYear varchar(4),
	@strToYear varchar(4),
	@intUserID int
AS
	DECLARE @strSQL varchar(1000)
	DECLARE @strJoinSQL varchar(1000)
	DECLARE @strLikeSql varchar(1000)
		
	SET @strSQL = 'SELECT YEAR(AcquiredDate) AS YEAR, Count(DISTINCT ItemID) AS BooksTotal, COUNT(*) AS CopiesTotal, 
    MoneyTotal = SUM(ISNULL(Price,0)) '
	SET @strJoinSQL = 'FROM HOLDING '
	SET @strLikeSql = '1 =1 AND '
	
	IF NOT @intLibraryID = 0
		BEGIN		
			IF NOT @intLocationID = 0
				SET @strLikeSQL = @strLikeSQL + 'LocationID = ' + CAST(@intLocationID AS VARCHAR(10)) +' AND '
			ELSE
				SET @strLikeSQL = @strLikeSQL + 'LibID = ' + CAST(@intLibraryID AS VARCHAR(10)) + ' AND '		
		END
	ELSE 
		BEGIN
			SET @strLikeSQL = @strLikeSQL + 'LocationID IN ( SELECT B.ID AS ID FROM HOLDING_LIBRARY A, HOLDING_LOCATION B, SYS_USER_LOCATION C WHERE A.LocalLib = 1 AND A.ID = B.LibID AND B.ID = C.LocID AND C.UserID =' + CAST(@intUserID AS CHAR(20)) + ' ) AND '
		END
	
	IF NOT @strFromYear = ''
		BEGIN
			SET @strLikeSQL = @strLikeSQL + 'DATEPART(year, AcquiredDate) >= '+@strFromYear+' AND '	
		END
		
	IF NOT @strToYear = ''
		BEGIN
			SET @strLikeSQL = @strLikeSQL + 'DATEPART(year, AcquiredDate) <= '+@strToYear+' AND '	
		END
		
	SET @strSQL = @strSQL + @strJoinSQL + ' WHERE ' +@strLikeSQL 
	SET @strSQL = LEFT(@strSQL,LEN(@strSQL)-3) 
	SET @strSQL = @strSQL + ' GROUP BY YEAR(AcquiredDate) ORDER BY YEAR ASC'
	--process here
EXEC(@strSQL)
