USE [Libol]
GO
/****** Object:  StoredProcedure [dbo].[FPT_CIR_GET_LOCLIBUSER_PREFIX_SEL]    Script Date: 07/10/2019 23:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_CIR_GET_LOCLIBUSER_PREFIX_SEL](@intUserID int,@intLibID int)
AS
	SELECT distinct(cast(B.Symbol as nvarchar(3))) as LocationCode
	FROM [Libol].[dbo].[HOLDING_LOCATION] B, HOLDING_LIBRARY A, SYS_USER_CIR_LOCATION C 
	WHERE LibID = @intLibID AND B.LIBID = A.ID AND C.LOCATIONID = B.ID AND C.USERID = @intUserID