USE [Libol]
GO
/****** Object:  StoredProcedure [dbo].[FPT_SP_GET_COPYNUMBER_STRING]    Script Date: 07/12/2019 09:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[FPT_SP_GET_COPYNUMBER_STRING] (@libid int, @acqdate varchar(50), @price real, @itemid int)
AS
DECLARE @sql varchar(50)
SET @sql = ''+CONVERT (varchar(10), @acqdate, 21)
BEGIN
	SELECT distinct ItemID,
STUFF(( SELECT  ', ' + CopyNumber
FROM HOLDING D1
WHERE D1.ItemID = D2.ItemID and LibID = @libid and Price = @price AND AcquiredDate = @sql
FOR
XML PATH('')
), 1, 1, '') AS DKCB
FROM HOLDING D2
where D2.ItemID =@itemid
END
