USE [Libol]
GO
/****** Object:  Table [dbo].[FPT_RECOMMEND]    Script Date: 7/15/2019 12:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPT_RECOMMEND](
	[RecommendID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FPT_RECOMMEND] PRIMARY KEY CLUSTERED 
(
	[RecommendID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FPT_RECOMMEND_ITEM]    Script Date: 7/15/2019 12:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPT_RECOMMEND_ITEM](
	[RecommendID] [varchar](50) NOT NULL,
	[ItemID] [int] NOT NULL,
 CONSTRAINT [PK_FK_RecommendID_ItemID] PRIMARY KEY CLUSTERED 
(
	[RecommendID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FPT_RECOMMEND_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_Recommend_Item_FPT_RECOMMEND] FOREIGN KEY([RecommendID])
REFERENCES [dbo].[FPT_RECOMMEND] ([RecommendID])
GO
ALTER TABLE [dbo].[FPT_RECOMMEND_ITEM] CHECK CONSTRAINT [FK_Recommend_Item_FPT_RECOMMEND]
GO
ALTER TABLE [dbo].[FPT_RECOMMEND_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_Recommend_Item_ITEM] FOREIGN KEY([ItemID])
REFERENCES [dbo].[ITEM] ([ID])
GO
ALTER TABLE [dbo].[FPT_RECOMMEND_ITEM] CHECK CONSTRAINT [FK_Recommend_Item_ITEM]
GO
