<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LibolEntities" connectionString="metadata=res://*/Models.Libol.csdl|res://*/Models.Libol.ssdl|res://*/Models.Libol.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VAN_SANG\SQLEXPRESS
;initial catalog=Libol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>