@using Libol.Models;
@using Libol.EntityResult;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #textColorInput {
        color: red;
    }

    label {
        text-align: right;
    }
</style>
<h4 style="margin:1rem">Danh sách biên mục sơ lược</h4>
<form>

    <div class="form-group row col-12">
        <label class="control-label col-md-2 align-self-center">Chọn Mẫu Biên Mục </label>

        @{
            IEnumerable<FPT_SP_CATA_GET_MARC_FORM_Result> list = ViewData["ListMarcForm"] as IEnumerable<FPT_SP_CATA_GET_MARC_FORM_Result>;
        }
        <select class="form-control col-md-2" name="listMarcForm" id="listMarcFormID" onchange="SelectedForm();">
            @foreach (FPT_SP_CATA_GET_MARC_FORM_Result item in list)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
        <script>
            
            function SelectedForm() {
               
                var empObj = {
                    intIsAuthority: 0,
                    intFormID: $("#listMarcFormID :selected").val()
                };
                var html = "";
                $.ajax({
                    url: "/Catalogue/LoadFormComplated",
                    type: "POST",
                    data: JSON.stringify(empObj),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (i, item) {
                            if (item.FieldCode == "245$a") {
                                html += "<div class='form-group row col-12'><label class='control-label col-md-5 align-self-center font-weight-bold text-danger'> <u> " + item.VietFieldName + " [" + item.FieldCode + "]" + " </u></label><input required type='text' class='form-control col-md-2' id=" + item.FieldCode + "></input></div>";
                            } else {
                                html += "<div class='form-group row col-12'><label class='control-label col-md-5 align-self-center font-weight-bold'> " + item.VietFieldName + " [" + item.FieldCode + "]" + "</label><input type='text' class='form-control col-md-2' id=" + item.FieldCode + "></input></div>";
                            }
                        });
                        $("#test").html(html);
                        document.getElementById("btnCreate").disabled = false;
                        document.getElementById("btnReset").disabled = false;
                        document.getElementById("btnAddField").disabled = false;
                    },
                    error: function (errorThrown) {
                        alert(errorThrown);
                    }
                    
                });

            }

        </script>
    </div>

    <div id="test">

    </div>

    @*@{
        IEnumerable<GET_CATALOGUE_FIELDS_Result> formComplated = ViewData["MarcFormComplated"] as IEnumerable<GET_CATALOGUE_FIELDS_Result>;
    }
    @if (formComplated != null)
    {
        foreach (GET_CATALOGUE_FIELDS_Result item in formComplated)
        {
            <div class="form-group row col-12" >
                <label class="control-label col-md-3 align-self-center">@item.VietFieldName [@item.FieldCode] : </label>
                <input type="text" class="form-control col-md-2" id="@item.FieldCode">
            </div>
        }
    }*@

    <div class="form-group col-md-12 form-inline">
        <div class="form-row col-md-12 text-center">
            <div style="margin : auto">
                <input disabled type="submit" id="btnCreate" class="btn btn-primary form-control" value="Tạo mới" onclick="window.location='/Shelf/Index'" />
                <button disabled type="button" id="btnReset" class="btn btn-primary form-control">Đặt Lại</button>
                <button disabled type="button" id="btnAddField" class="btn btn-primary form-control" data-toggle="modal" data-target="#myModal">Thêm Trường</button>
            </div>
        </div>
    </div>
</form>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Tìm Kiếm Theo Mã Trường Hoặc Tên Trường </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container mt-1">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Tìm Kiếm</button>
                        </div>
                    </div>
                    <textarea class="form-control rounded-0" rows="10"></textarea>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

@*<div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">ISBN[020$a] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
        <label class="control-label col-md-2 align-self-center">ISSN[022$a] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>*@