
@{
    ViewBag.Title = "SearchCodeNumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>SearchNumberCode</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>*@
<body style="background-color: rgba(227,242,238,0.69);">
    <div class="row" style="background-color: #9d5656;">
        <div class="col text-center align-items-center" style="background-color: rgba(115,72,238,0.99);"><label class="col-form-label text-center" style="color: rgb(254,254,254);font-size: 20px;"><strong>Sửa Bản Ghi Biên Mục</strong><br /></label></div>
    </div>
    <div class="row" style="margin: 30px;">
        <div class="col text-right"><label class="col-form-label" style="color: rgba(7,5,5,0.98);"><span style="text-decoration: underline;">Mã Tài Liệu</span></label></div>
        <div class="col"><input type="search" style="width: 450px;" /></div>
        <div class="col"><button class="btn btn-primary" type="button">Tìm Kiếm</button></div>
    </div>
    <div class="row">
        <div class="col text-center" style="margin: -45px;"><label class="col-form-label" style="color: rgb(201,20,20);">Mã Tài Liệu Không Tồn Tại !</label></div>
    </div>
</body>


