
@{
    ViewBag.Title = "UpdateCatalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>UpdateCatalogue</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="styles.css" />
    </head>*@


<style>
    #textColorInput {
        color: red;
    }

    label {
        text-align: right;
    }
</style>

<form>
    <label style="margin-top:10px; text-align: right"><h5>Danh sách biên mục sơ lược</h5></label>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Ấn phẩm theo đơn đặt : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
        <label class="control-label col-md-2 align-self-center">Cấp thư mục : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Kiểu bản ghi : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
        <label class="control-label col-md-2 align-self-center">Vật mang tin : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Dạng tài liệu : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
        <label class="control-label col-md-2 align-self-center">Mật độ : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Mẫu biên mục : </label>
        <select class="form-control col-md-2">
            <option>Kinh</option>
            <option>Mường</option>
        </select>
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">ISBN[020$a] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
        <label class="control-label col-md-2 align-self-center">ISSN[022$a] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Tác giả[100$a] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
        <label class="control-label col-md-2 align-self-center">Tên tập[245$p] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center" id="textColorInput">Nhan đề chính[245$a] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Số thứ tự của tập[245$n] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Số thứ tự của tập[245$n] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Số thứ tự của tập[245$n] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group row col-12">
        <label class="control-label col-md-3 align-self-center">Số thứ tự của tập[245$n] : </label>
        <input type="text" class="form-control col-md-2" id="inputEmail3">
    </div>
    <div class="form-group col-md-12 form-inline">
        <div class="form-row col-md-12 text-center">
            <div style="margin : auto">
                <button type="submit" class="btn btn-primary form-control">Cập nhật</button>
                <button type="submit" class="btn btn-primary form-control">Đặt Lại</button>
                <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#myModal">Thêm Trường</button>
            </div>
        </div>

    </div>
</form>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Tìm Kiếm Theo Mã Trường Hoặc Tên Trường </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container mt-1">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Tìm Kiếm</button>
                        </div>
                    </div>
                    <textarea class="form-control rounded-0" rows="10"></textarea>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>